{
    "name": "pickup",
    "components": {
        "Transform": {
            "type": "Transform"
        },
        "SpriteRenderer": {
            "type": "SpriteRenderer",
            "auto_sorting_order": true
        },
        "AdventurePickup": {
            "type": "AdventurePickup"
        }
    }
}
