{
    "name": "player",
    "components": {
        "Transform": {
            "type": "Transform",
            "x": -1.8,
            "y": 0.0
        },
        "SpriteRenderer": {
            "type": "SpriteRenderer",
            "sprite": "Player/Idle",
            "auto_sorting_order": true
        },
        "AdventurePlayer": {
            "type": "AdventurePlayer",
            "max_health_units": 10,
            "move_speed": 0.028
        }
    }
}
