{
    "name": "altar",
    "components": {
        "Transform": {
            "type": "Transform"
        },
        "SpriteRenderer": {
            "type": "SpriteRenderer",
            "sprite": "altar/altar",
            "scale_x": 0.8,
            "scale_y": 0.8,
            "auto_sorting_order": false,
            "sorting_order": -200
        },
        "DefenseTarget": {
            "type": "DefenseTarget",
            "max_health_units": 12
        }
    }
}
