{
    "name": "enemy",
    "components": {
        "Transform": {
            "type": "Transform"
        },
        "SpriteRenderer": {
            "type": "SpriteRenderer",
            "sprite": "Enemies/Slime/Idle",
            "auto_sorting_order": true
        },
        "EnemyAI": {
            "type": "EnemyAI",
            "enemy_kind": "slime",
            "target_preference": "altar",
            "move_speed": 0.012,
            "max_health_units": 4,
            "attack_damage": 1,
            "attack_range": 0.3,
            "attack_duration_frames": 22,
            "attack_hit_frame": 10,
            "attack_cooldown_frames": 30,
            "damage_stun_frames": 8,
            "corpse_frames": 24,
            "hit_radius": 0.16
        }
    }
}
