{
    "window_title": "PocketEngine Editor",
    "window_width": 2548,
    "window_height": 1440,
    "window_x": 2612,
    "window_y": 183,
    "window_fullscreen": false,
    "window_maximized": true,
    "ui_scale": 1.0,
    "reference_width": 1600,
    "reference_height": 960,
    "external_editors": {
        "audio": "",
        "lua": "code ",
        "config": "",
        "template": "",
        "image": "",
        "font": "",
        "scene": "",
        "generic": ""
    }
}
