{
    "window_title": "PocketEngine Editor",
    "window_width": 1766,
    "window_height": 1164,
    "window_x": 297,
    "window_y": 172,
    "window_fullscreen": false,
    "window_maximized": false,
    "ui_scale": 1.0,
    "reference_width": 1600,
    "reference_height": 960,
    "scene_view_width": 1600,
    "scene_view_height": 960,
    "external_editors": {
        "audio": "",
        "lua": "code ",
        "config": "",
        "template": "",
        "image": "",
        "font": "",
        "scene": "",
        "generic": ""
    }
}
